*.pyc
*.swp
*.npy
*.idea*
*neal*
*ryan*
.DS_Store
scripts/.DS_Store
data/generated/politifact/all.csv
data/raw/politifact/api_facts.json
data/generated/temp_data/*
data/generated/OE2_question_generate_test/*
.ipynb_checkpoints
*.DS_Store
*~
azure/*
data/word2vec.6B.50d.txt
politifact_mockup.key
*#*
notes/
src/cluster/prefix.txt
src/cluster/cluster_config*
results/